In this Project, I have identified few things:
    1) Compared Tot Product Sold across City, Payment,Customer Type, Gender
    2) Compared attributes of 1 specific col using Pie Chart in Customer Type , Gender,City
    3) Doing above but with hue=Gender
    4) Compared Rating with other features using BoxPlot

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
df=pd.read_excel('Sales_data.xlsx')
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Date,Time,Payment,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,1/5/2019,13:08:00,Ewallet,9.1
1,226-31-3081,A,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3/8/2019,10:29:00,Cash,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,3/3/2019,13:23:00,Credit card,7.4
3,123-19-1176,B,Yangon,Member,Male,Health and beauty,58.22,8,1/27/2019,20:33:00,Ewallet,8.4
4,373-73-7910,C,Yangon,Normal,Male,Sports and travel,86.31,7,2/8/2019,10:37:00,Ewallet,5.3

In [2]:
df['Total price'] = df['Unit price'] * df['Quantity']
avg_prices = df.groupby('Branch')['Total price'].mean().reset_index()
avg_prices.columns = ['Branch', 'Average Price']
print(round(avg_prices,2))

  Branch  Average Price
0      A         302.52
1      B         316.37
2      C         303.65

In [3]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Date,Time,Payment,Rating,Total price
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,1/5/2019,13:08:00,Ewallet,9.1,522.83
1,226-31-3081,A,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3/8/2019,10:29:00,Cash,9.6,76.40
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,3/3/2019,13:23:00,Credit card,7.4,324.31
3,123-19-1176,B,Yangon,Member,Male,Health and beauty,58.22,8,1/27/2019,20:33:00,Ewallet,8.4,465.76
4,373-73-7910,C,Yangon,Normal,Male,Sports and travel,86.31,7,2/8/2019,10:37:00,Ewallet,5.3,604.17

In [25]:
def barchart(x,hue,df,figsize=(5,4)):
    plt.figure(figsize=figsize)
    ax=sns.countplot(x=x, hue=hue, data=df)
    plt.title(f'Number of Customer by {x} and {hue}')
    plt.xlabel(x)
    plt.ylabel('Number of Customers')
    ax.bar_label(ax.containers[0])
    ax.bar_label(ax.containers[1])
    plt.show()
    
def cir_chart(x):
    counts = df[x].value_counts()
    plt.pie(counts, autopct='%1.2f%%', startangle=80)
    plt.legend(counts.index)
    plt.title(f'Pie Chart of {x} Types')
    plt.show()
    
def costvs(vs, cost, hue=None, figsize=(4, 4)):
    costs = df.groupby([vs] + ([hue] if hue else []))[cost].sum().reset_index()
    plt.figure(figsize=figsize)
    if hue:
        sns.barplot(data=costs, x=vs, y=cost, hue=hue, errorbar=None)
    else:
        sns.barplot(data=costs, x=vs, y=cost, errorbar=None)
    plt.title(f'Total Cost Sum by {vs}')
    plt.xlabel(vs)
    plt.ylabel(f'Total Cost Sum by {vs}')
    ax = plt.gca()
    for container in ax.containers:
        ax.bar_label(container, label_type='edge', fmt='%.0f')
    if hue:
        plt.legend(title=hue)
    plt.show()
def RatingVs(Vs,Rating,df,figsize=(5,4)):
    plt.figure(figsize=figsize)
    sns.boxplot(x=Vs, y=Rating, data=df)
    plt.title(f'Rating by {Vs}')
    plt.xlabel(f'{Vs}')
    plt.ylabel(f'{Rating}')
    plt.show()

In [6]:
# costvs('Branch', 'Total price')
# costvs('City', 'Total price')
# costvs('Gender', 'Total price')
# costvs('Product line', 'Total price', hue='Gender', figsize=(18, 8))

In [28]:
# RatingVs('Branch','Rating',df)
# RatingVs('City','Rating',df)
# RatingVs('Gender','Rating',df)
# RatingVs('Product line','Rating',df,figsize=(12,7))

In [7]:
# cir_chart('Payment')
# cir_chart('Gender')
# cir_chart('Customer type')
# cir_chart('Branch')

In [30]:
# barchart('Payment','Gender',df)
# barchart('City','Gender',df)
# barchart('Product line','Gender',df,figsize=(12,5))